body {
  font-family: sans-serif;
  margin: 20px;
  /*background-color: rgb(133, 6, 95);*/
  background-image: url('img/FitaFotografica.png');

}

h1 {
  text-align: center;
  color: #070707;
}

 .galeria {
  display: flex; /* Ou 'display: grid;' */
  flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha */
  justify-content: center;
  gap: 15px;  /* Espaçamento entre as fotos */
  padding: 20px;
}

.galeria img {
    width: 200px; /* Largura padrão da imagem */
    height: 150px; /* Altura padrão */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Efeito de transição suave */
}

.galeria img:hover {
    transform: scale(2.15); /* Aumenta a imagem em 5% ao passar o mouse */
    cursor: pointer;
}

.paginador {
    text-align: center;
    padding: 5px 11px;
    cursor: pointer;
    border-radius:50px;
    margin:5px;
    transition: .3s;
}

.paginador a:hover {
    
    border: 1px solid #004fea;
    color: #fff;
    transition: .3s;
}